@using IdentityServerAzureSpike.Shared

<div class="col-md-8">
    <h3>Login via Code Flow</h3>
    <form id="CodeFlowForm" method="post" action="/CodeFlow/" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <input type="text" name="scopes" class="form-control" value="@Constants.Scopes.CodeFlow" />

            <button name="OKPostCodeFlow">OK</button>
        </div>
    </form>
</div>
<hr />
