@using System.Web.Mvc.Html
@using IdentityServerAzureSpike.Shared

@{
    ViewBag.Title = "Index";
}

<h2>Callback</h2>

Code: <strong>@ViewBag.Code</strong>
<br />
State: <strong>@ViewBag.State</strong>
<br />
Error: <strong>@ViewBag.Error</strong>

<br />
<br />

@if (ViewBag.Code != "none")
{
    <h3>Login via Code Flow</h3>
    <form id="TokenRefreshForm" method="post" action="/CodeFlow/" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <div></div>
            <span class="alert alert-info">Refresh token</span>
            <input type="submit" class="form-control"/>
            <button name="TokenRefreshSubmit">OK</button>
        </div>
    </form>

}