@using System.Web.Mvc.Html
@using IdentityServerAzureSpike.Shared

<div class="jumbotron">
    <h1>Login via Site A login form</h1>
    <h2>code flow sample client</h2>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        <h3>Login via Code Flow</h3>
        @using (Html.BeginForm("PostCodeFlow", "CodeFlow"))
        {
            <div class="form-control form-group-sm">
                <input type="text" name="scopes" class="text-capitalize col-xs-push-4" value="@Constants.Scopes.CodeFlow" />

                <button name="OKPostCodeFlow">OK</button>
            </div>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <h3>Login via Implicit Form Post (Redirected via Query String)</h3>
        @using (Html.BeginForm("PostImplicit", "ImplicitFlow"))
        {
            <div class="form-control form-group-sm">
                <input type="text" name="scopesHardCodeInController" class="text-capitalize col-xs-push-4" value="@Constants.Scopes.Implicit" />

                <button name="OKPostImplicit">OK</button>
            </div>
        }
    </div>
</div>