@{
    ViewBag.Title = "Home Page";
}
<div class="row"></div>
<div class="container row">
    <dl class="dl-horizontal">
        <dt>Identity Server login</dt>
        <dd>Redirected to identity.demo.local, uses hybrid grant flow</dd>
        <dt>Local login</dt>
        <dd>Site form presented and posted back to server then redirects using code grant flow.</dd>
        <dt>MVC controller redirects</dt>
        <dd>Post to MVC action controllers then use code grant flow</dd>
    </dl>
</div>
