@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Site A - MVC</h1>    
</div>


<div class="row">
    <div class="col-md-4">
        <h2>MVC Call through to Identity Server</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        
    </div>
</div>