@using System.Web.Mvc.Html
@using IdentityServerAzureSpike.Shared
@{
    ViewBag.Title = "Site A login form";
    ViewBag.Scope = Constants.RequiredScopesString;
}

<div class="jumbotron">
    <h1>Login via Site A login form</h1>
    <h2>code flow sample client</h2>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Login via Code Flow</h3>
        @using (Html.BeginForm("PostCodeFlow", "CodeFlow"))
        {
            <div class="form-control form-group-sm">
                <input type="text" name="scopes" style="width: 200px" value="@ViewBag.Scope"/>

                <button name="OK">OK</button>
            </div>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <h3>Login via Implicit Form Post</h3>
        @using (Html.BeginForm("PostImplicit", "Implicit"))
        {
            <div class="form-control form-group-sm">
                <input type="text" name="scopes" style="width: 200px" value="@ViewBag.Scope" />

                <button name="OK">OK</button>
            </div>
        }
    </div>
</div>